<h1>Cars</h1>

<ul>
    <li ng-repeat="car in vm.car.list">{{car.name}} {{car.make}} {{car.model}} AKA {{car.nickname}} ({{car.country}})</li>
</ul>

<form>
    <h3>New Car</h3>
    <label for="model">Model</label>
    <input type="text" ng-model="vm.newCar.model">
    <label for="year">Year</label>
    <input type="text" ng-model="vm.newCar.year">
    <label for="make">Make</label>
    <select id="make" ng-options="company.id as company.name for company in vm.company.list track by company.id.id" ng-model="vm.newCar.makeid"></select>
    <button>Submit</button>
    {{vm.newCar}}
</form>